<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <rewrite>
      <rules>

        <rule name="AXI Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />

          <action
            type="Rewrite"
            url="http://127.0.0.1:8000/{R:1}"
            logRewrittenUrl="true" />

          <serverVariables>
          </serverVariables>

        </rule>

      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>

        <add
          name="X-Content-Type-Options"
          value="nosniff" />

        <add
          name="X-Frame-Options"
          value="SAMEORIGIN" />

        <add
          name="Referrer-Policy"
          value="strict-origin-when-cross-origin" />

      </customHeaders>
    </httpProtocol>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

  </system.webServer>

</configuration>